@import '../../sass/variables.scss';

.products {
  width: 100%;
}

.latest, .recent {
  padding: 1rem;
  padding-left: 2rem;
  background-color: $brand-color-sub;
  color: $color-black;
  font-weight: 600;
}

.recent {
  color: $color-white;
}

.displayWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.display, .suggests {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 1rem 0;
}

.advert {
  background-color: $color-white;
  margin: 1rem 0 2rem 0;
}