.search {
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  width: 100%;
}

.input {
  background-color: #ffffff;
  width: 100%;
  padding: 1rem;
  border-radius: .5rem 0 0 .5rem;
  border: none;
  outline: none;
  border: 3px solid transparent;
}

.input:focus {
  border: 3px solid var(--brand-color-sub);
}

.action {
  background-color: var(--brand-color-sub);
  padding: 1rem;
  font-size: 2rem;
  border: none;
  outline: none;
  border-radius: 0 .5rem .5rem 0;
  transition: all .3s ease;
  cursor: pointer;
}

.action:hover {
  background-color: var(--brand-color-sub-light);
}

@media screen and (min-width: 750px) {
  .input {
    flex: 1;
  }
}