.header {
  background-color: var(--brand-color-main);
  padding: .5rem;
}

.section1 {
  display: flex;
  flex-flow: row;
  align-items: flex-end;
  padding: .5rem;
}

.section2 {
  display: flex;
  flex-flow: row;
  align-items: center;
}


@media screen and (min-width: 750px) {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
  }

  .section1 {
    flex: 1;
  }
  
  .section2 {
    flex: 2;
  }
}