.header {
  background-color: var(--brand-color-main);
  padding: 1rem;
}

.section1 {
  display: flex;
  flex-flow: row;
  align-items: flex-end;
}

.section2 {
  display: flex;
  flex-flow: row;
  align-items: center;
}
