@import '../../sass/variables.scss';
@import '../../sass/mixins.scss';
@import '../../sass/placeholders.scss';

.product {
  width: 100%;
  background-color: $color-grey;
}

.top_section {
  display: flex;
}

.content {
  background-color: $color-white;
  padding: 1rem;
  margin: 1.5rem;
  border-radius: 1rem;
  flex: 1;
  @extend %boxShadow; 

  @include respond($mid) {
    display: flex;
    justify-content: center;
  }
}

.image {
  width: 100%;
  border-radius: 1rem;
  padding: 1rem 2rem;
  flex: 1;

  & img {
    width: 100%;
  }
}

.description {
  padding: .5rem;
  padding-bottom: 3rem;
  flex: 1;
}

.details {
  visibility: visible;
}

.title {
  font-size: 2rem;
  font-weight: 400;
  border-bottom: 2px solid $color-grey;
  padding: 1rem;
}

.price {
  font-size: 2rem;
  font-weight: 600;
  padding: 1rem;
}

.banner {
  display: none;
  @extend %boxShadow;

  @include respond($max) {
    display: flex;
    background-color: $color-white;
    padding: 1rem;
    margin: 1.5rem;
    border-radius: 1rem; 
    flex: 0 25rem; 
  }

  & img {
    width: 100%;
  }
}

.action {
  display: flex;
  justify-content: center;
  padding: 1rem;
  padding-bottom: 3rem;
  margin-bottom: 3rem;
  border-bottom: 2px solid $color-grey;

}

.input {
  @extend %button;
  padding: .5rem;
  flex: 0 7rem;
  width: 7rem;
  border-radius: 1rem;
  border: 2px solid $brand-color-sub;
}

.button {
  @extend %button;
  padding: 1rem;
  flex: 1;
  margin-left: 1rem;
  background-color: $brand-color-sub;
  border-radius: 1rem;
}

.detailed_info {
  padding: .5rem;
}

.info_title {
  font-weight: 600;
  padding-bottom: 2rem;
}

.viewed {
  background-color: $brand-color-sub;
  padding: 1rem;
  font-weight: 600;

  &_products {
    padding: 1rem 0; 
    display: flex;  
    justify-content: center;
    flex-flow: row wrap;
  }
}
  



