@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

html {
  font-size: 10px;
}

:root {
  --brand-color-main: #31004A;
  --brand-color-main-light:#8300C4;
  --brand-color-sub: rgb(255, 204, 0);
  --brand-color-sub-light: rgba(255, 204, 0, .9);
  --large-screen: 750px;
}

*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.7rem;
}


.grand {
  background-color: var(--brand-color-main);
  color: white;
  padding: 3rem 5rem;
}