@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

html {
  font-size: 10px;
}

:root {
  --brand-color-main: #31004A;
  --brand-color-sub: #4C00A4;
}

*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 2rem;
}

.grand {
  background-color: var(--brand-color-main);
  color: white;
  padding: 3rem 5rem;
}